.product-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
  }
  .product-card-container img {
    width: 100%;
    height: 95%;
    object-fit: cover;
    margin-bottom: 5px;
  }
  .product-card-container button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }
  .product-card-container:hover img {
    opacity: 0.8;
  }
  .product-card-container:hover button {
    opacity: 0.85;
    display: flex;
  }
  .product-card-container .footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
  .product-card-container .footer .name {
    width: 90%;
    margin-bottom: 15px;
  }
  .product-card-container .footer .price {
    width: 10%;
  }
  
  
  .product-card-container .footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}


.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    column-gap: 10px;
    grid-row-gap: 50px;
    row-gap: 50px;
    padding: 20px 30px;
}

.cart-icon-container .shopping-icon {
  width: 24px;
  height: 24px;
}

.cart-icon-container {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-icon-container .item-count {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  bottom: 12px;
  color: #fff;
}

.MuiFormGroup-root {
  margin-left: auto;
}

.cart-dropdown-container {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
}
.cart-dropdown-container .cart-items {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.cart-dropdown-container button {
  margin-top: auto;
}
.cart-item-container {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 15px;
}
.cart-item-container img {
  width: 30%;
  object-fit: contain;
}
.cart-item-container .item-details {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
}
.cart-item-container .item-details .name {
  font-size: 16px;
}

.empty-message {
  color: red;
  text-align: center;
  width: 100%;
  
}

.checkout-container {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
}
.checkout-container .checkout-header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgrey;
}
.checkout-container .checkout-header .header-block {
  text-transform: capitalize;
  width: 23%;
}
.checkout-container .checkout-header .header-block:last-child {
  width: 8%;
}
.checkout-container .total {
  margin-top: 30px;
  margin-left: auto;
  font-size: 36px;
}
.checkout-item-container {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;
}
.checkout-item-container .image-container {
  width: 23%;
  padding-right: 15px;
}
.checkout-item-container .image-container img {
  width: 100%;
  height: 100%;
}
.checkout-item-container .name, .checkout-item-container .quantity, .checkout-item-container .price {
  width: 23%;
}
.checkout-item-container .quantity {
  display: flex;
}
.checkout-item-container .quantity .arrow {
  cursor: pointer;
}
.checkout-item-container .quantity .value {
  margin: 0 10px;
}
.checkout-item-container .remove-button {
  padding-left: 12px;
  cursor: pointer;
}


@media screen and (max-width: 600px) {

  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-card-container button {
    font-size: 13px;
    display: block;
  }
}